<header>
  <h1>String Based Calculator</h1>
</header>

<main>

  <div id="calcContainer">
    <section class="container-width">
      <article class="inputContainer">

        <input
        type="text"
        #inputTag
        name="operationInput"
        autocomplete="off"
        autofocus=""
        placeholder="Example: (26+(234*2))/(5-3)"
        pattern="^[\d\+\-\*\/\(\)\.]{0,}$"
        (input)="calculatorMainProcess(inputTag.value)"
        >
      </article>
      <article class="buttonsContainer">
        <button (click)="inputTag.value='';resetResult();">Restart</button>
      </article>
      <article class="resultContainer">
        <div>
          <span data-text="dresult">Result:</span><span id="resultInner">
            {{resultValue}}
          </span>
        </div>
      </article>

    </section>

    <div>Note: You can solve Addition, subtraction, multiplication and division.</div>
  </div>

</main>

<footer>
  Created by <a href="https://github.com/EdisMR">@Edis MR</a>
</footer>
